python-dotenv
django
cloudinary
pillow
gunicorn==21.2.0
psycopg2-binary
sqlparse==0.5.1
virtualenv==20.26.3
requests
django-countries  
django-select2
django-formtools
whitenoise
djangorestframework-simplejwt
djangorestframework
# numpy
# keras
# tensorflow
# scikit-learn
# pandas
# matplotlib